<!DOCTYPE html>
<html>
<head>
    <title>Buildings</title>
</head>
<body>
    <h1>Buildings</h1>
    

        {% for building in buildings %}
        <a href="/{{ building.name }}" 
        style=
        "display: inline-block; 
        position: relative; 
        width: 100px; 
        height: 100px">{{ building.name }}
        
            <!-- <span style="position: absolute; top: 0; left: 0">{{ building.name }}</span> -->
            <div>
                
            </div>

        </a>
        {% endfor %}
        <!-- {{ buildings }} -->
    
</body>
<style>
    div{
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    margin-bottom: 50px;
    }
</style>
<script>
    
</script>
</html>