<!DOCTYPE html>
<html>
<head>
    <title>Buildings</title>
</head>
<body>
    <h1>Buildings</h1>
        {% for building in buildings %}
            <a href="/{{ building.name }}" 
            style=
            "display: inline-block; 
            width: 100px; 
            height: 100px">{{ building.name }}
                <div>
                    
                </div>
            </a>
        {% endfor %}
</body>
<style>
    div{
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    margin-bottom: 50px;
    border-radius: 10px;
    }
</style>
</html>