<!DOCTYPE html>
<html>
<head>
    <title>Machine Info</title>
</head>
<body>
    {{content}}

        <form method=post action=/update-washer-time>
            <fieldset>
              <legend>Machine Time?</legend>
              <div>
                <input type="radio" id="low" name="Time" value= "{{building}}, {{washer}}, 23">
                <label for="available3">23</label>
              </div>
              <div>
                <input type="radio" id="medium" name="Time" value="{{building}}, {{washer}}, 26">
                <label for="unavailable">26</label>
              </div>
              <div>
                <input type="radio" id="high" name="Time" value="{{building}}, {{washer}}, 29">
                <label for="reserved">29</label>
              <div>
                <button type="submit">Submit form</button>
              </div>
              </fieldset>
            </form>

</body>

</html>